{% extends 'base.html.twig' %}

{% block body %}
{% set laptop = app.session.get('laptop') %}
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-md-4">
         <img class="img-thumbnail" src="{{ laptop.image }}"
         width="200" height="200">
      </div>
      <div class="col-md-8">
         <table class="table table-bordered">
            <tr>
               <th class="text text-success" colspan="6">Order Detail</th>
            </tr>
            <tr>
               <th>Customer</th>
               <th>Product Name</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Total Price</th>
               <th>Order Date</th>
            </tr>
            <tr>
               <td></td>
               <td>{{ laptop.name }}</td>
               <td>$ {{ laptop.price }}</td>
               <td>{{ app.session.get('quantity')  }}</td>
               <td>$ {{ app.session.get('order_price') }}</td>
               <td>{{ app.session.get('datetime') | date('d/m/Y H:i:s') }}</td>
           </tr>
            <tr>
               <th colspan="6">
                  <a class="btn btn-primary" href="{{ path('order_product') }}"
                  onclick="return confirm('Are you sure to place this order?');";>Place order</a>
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
{% endblock %}
