{% block stylesheet %}
    <link rel="stylesheet" href="/css/loginstyle.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block body %}
	<section>
		<div class="login-box">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1>Please Sign In</h1>
				<div class="input-box">
					<i class="fa fa-envelope-o"></i>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Username" autocomplete="username" required autofocus>
				</div>
				<div class="input-box">
					<i class="fa fa-key"></i>
					<input type="password" name="password" placeholder="Password" id="inputPassword" autocomplete="current-password" required>
					<span class="eye" onclick="myFunction()">
						<i id="hide1" class="fa fa-eye"></i>
						<i id="hide2" class="fa fa-eye-slash"></i>
					</span>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button type="submit" name="Submit" class="login-btn">LOGIN</button>
			</form>
		</section>
	{% endblock %}
