{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-4">
         <div class="card">
            <img src="{{ brand.image }}" width="300" height="200">
         </div>
      </div>
      <div class="col-6">
         <table class="table table-bordered">
            <tr>
               <th colspan="4" class="bg-light">
                  <h2 class="text-primary">{{ brand.name }} </h2>
               </th>
            </tr>
            <tr class="h5">
               <th>Date Founded</th>
               <td>{{ brand.dateFounded | date('d/m/Y')}}</td>
            </tr>
            <tr class="h5">
               <th>Laptop(s)</th>
               <th>
               {% for laptop in brand.laptops %}
                    <a class="text-decoration-none" href="{{ path('laptop_detail', {'id' : laptop.id })}}">
                     {{ laptop.name }} 
                    </a>
                     <br>
               {% endfor %}
               <th>
            </tr>
         </table>
      </div>
   </div>
</div>
{% endblock %}